/* Restyled Body */
body {
  background-color: #beffa7; /* Light green background */
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%); /* Dark text color */
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

/* Restyled Container */
.container {
  width: 100%;
  height: auto;
  min-height: 600px;
  max-width: 500px;
  min-width: 450px;
  background: #f1f5f8; /* Light blue background */
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040; /* Soft shadow */
  padding: 1rem;
  box-sizing: border-box;
}

/* Restyled Heading */
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #16dc86; /* Green heading background */
  font-size: 1.5rem;
}

/* Restyled Form Input */
.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #518d33; /* Dashed green border */
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7); /* Semi-transparent dark text */
  width: 70%;
  margin-bottom: 20px;
}

/* Restyled Button */
button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #67b640; /* Green button background */
}

button span {
  background: #dfefd9; /* Light green button text background */
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%); /* Dark border */
}

/* Restyled List Item */
li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}

/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  
  text-align: center;
  padding: 10px 0; /* Adjust padding as needed */
}

footer p {
  margin: 0; /* Remove default margin */
  font-size: 24px; /* Adjust font size as needed */
  font-family: "Arial", sans-serif; /* Use your desired font family */
  text-transform: uppercase; /* Uppercase the text */
  text-shadow: 2px 2px 4px rgba(1, 15, 5, 0.5); /* 3D text shadow */
}


/* Footer Styles */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffcc29;
  text-align: center;
  padding: 10px 0;
}

footer p {
  margin: 0;
  font-size: 24px;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(1, 15, 5, 0.5);
}